apiVersion: v1
kind: Pod
metadata:
  name: kube-addon-mamanger
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-addon-maanager
    image: {{ k8s_master_addon_manager_image }}:{{ k8s_master_addon_manager_tag }}
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 5m
        memory: 50Mi
    volumeMounts:
    - mountPath: /etc/kubernetes
      name: addons
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/kubernetes
    name: addons
