{% set static_nodes = [] %}
{% if etcd_endpoints is sequence and etcd_endpoints is not string %}
{% for server in etcd_endpoints %}
{% set infra = "http://%s:2379" % (server) %}
{% set _ = static_nodes.append(infra) %}
{% endfor %}
{% else %}
{% set infra = "http://%s:2379" % (etcd_endpoints) %}
{% set _ = static_nodes.append(infra) %}
{% endif %}
apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: {{ vars.hyperkube.image }}:{{ vars.hyperkube.tag }}
    command:
    - /hyperkube
    - apiserver
    - --bind-address=0.0.0.0
    - --etcd-servers={{ static_nodes | join(',') }}
    - --allow-privileged=true
    - --apiserver-count={{ ansible_local.k8s_facts.api_servers }}
    - --service-cluster-ip-range={{ vars.kubernetes.service_ip_range }}
    - --authorization-mode=RBAC
    - --secure-port=443
    - --audit-log-maxage=30
    - --audit-log-maxbackup=3
    - --audit-log-maxsize=100
    - --audit-log-path=/var/log/audit.log
    - --enable-swagger-ui=true
    - --event-ttl=1h
    - --advertise-address={{ ansible_eth0.ipv4.address }}
    - --insecure-bind-address=127.0.0.1
    - --kubelet-https=true
    - --admission-control=Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota
    - --tls-cert-file=/etc/kubernetes/ssl/apiserver.pem
    - --tls-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem
    - --client-ca-file=/etc/kubernetes/ssl/ca.pem
    - --service-account-key-file=/etc/kubernetes/ssl/apiserver-key.pem
    - --runtime-config=extensions/v1beta1/networkpolicies=true,api/all
    - --anonymous-auth=false
    - --cloud-provider=aws
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        port: 8080
        path: /healthz
      initialDelaySeconds: 15
      timeoutSeconds: 15
    ports:
    - containerPort: 443
      hostPort: 443
      name: https
    - containerPort: 8080
      hostPort: 8080
      name: local
    volumeMounts:
    - mountPath: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
